<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="static/assets/ico/favicon.png">


    <title>FlightFest</title>

    <!-- Bootstrap core CSS -->
    <link href="static/assets/css/bootstrap.css" rel="stylesheet">
    <link href="static/assets/css/main.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/assets/css/font-awesome.min.css" rel="stylesheet">

    <!-- Datepicker stylesheets -->
    <link rel="stylesheet" href="static/assets/css/datepicker.css">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

    <!--end date picker-->

    <!--Favicon-->
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">

</head>

<body>

<!-- Fixed navbar -->
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img src="static/assets/img/Flight-fest-logo.png" alt="" height="65"></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="/">HOME</a></li>
                <li class="active about"><a href="/about.html">ABOUT</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>


<div class="about-content container-icons">
    <div class="icons-content">
        <!--Allen-->
        <div class="select-artist">
            <img class="icon" src="static/assets/img/AllenSussman.png">
                <h3 class="icons-description">Allen Sussman</h3>
                <p>Data Scientist, Back-End Engineer, and Music Nerd</p>
                <a class="github" href="https://github.com/allensussman" target="_blank">github.com/allensussman</a>
        </div>
        <!--Kelly-->
        <div class="select-artist">
            <img class="icon" src="static/assets/img/KellyDern.png">
                <h3 class="icons-description">Kelly Dern</h3>
                <p>Designer, Front-End Developer, and Chocolatier</p>
                <a class="github" href="https://github.com/kellydern" target="_blank">github.com/kellydern</a>
        </div>
    </div>
</div> <!--End about-content-->

<div class="footer">
    <p>Copyright FlightFest. All rights reserved.</p>
</div>

</body>
</html>
