<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="static/assets/ico/favicon.png">


    <title>FlightFest</title>

    <!-- Bootstrap core CSS -->
    <link href="static/assets/css/bootstrap.css" rel="stylesheet">
    <link href="static/assets/css/main.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/assets/css/font-awesome.min.css" rel="stylesheet">

    <!-- Datepicker stylesheets -->
    <link rel="stylesheet" href="static/assets/css/datepicker.css">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

    <!--Favicon-->
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <style>

    circle.left = 0%
animate duration: 2s {
  circle.left = 100% 
}
</style>

    <script>
        $(function() {
            $( "#from" ).datepicker({
                defaultDate: "+1w",
                changeMonth: true,
                changeYear: true,
                numberOfMonths: 1,
                yearRange: '2015:2020',
                onClose: function( selectedDate ) {
                    $( "#to" ).datepicker( "option", "minDate", selectedDate );
                }
            });
            $( "#to" ).datepicker({
                defaultDate: "+1w",
                changeMonth: true,
                changeYear: true,
                numberOfMonths: 1,
                yearRange: '2015:2020',
                onClose: function( selectedDate ) {
                    $( "#from" ).datepicker( "option", "maxDate", selectedDate );
                }
            });
        });
    </script>

    <!--end date picker-->
</head>



<body>

<!-- Fixed navbar -->
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img src="static/assets/img/Flight-fest-logo.png" alt="" height="65"></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="/">HOME</a></li>
                <li class="active about"><a href="http://www.flightfest.co/about.html">ABOUT</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>



<div class="footer">
    <p>Copyright FlightFest. All rights reserved.</p>
</div>

</body>
</html>
